[
{{- range $i, $e := .Resources }}
    {{- if $i}},{{- end}}
    {
        "resource": "{{ $e.ResourceName }}",
        "identifier": "{{ $e.Identifier }}",
        "path": "../../examples/resources/{{ $e.ResourceName }}/import.sh"
    }
{{- end}}
]
