[
{{- range $i, $e := .Resources }}
    {{- if $i}},{{- end}}
    {
        "resource": "{{ $e.ResourceName }}",
        "identifier": [{{- range $i, $v := $e.Identifier }} {{- if $i}},{{- end}}"{{ $v }}"{{- end}}],
        "path": "./examples/resources/{{ $e.ResourceName }}/import.sh"
    }
{{- end}}
]
