---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Mock Method

Creates a mock method GET

{{ tffile (printf "examples/resources/%s/apigateway_method_mock.tf" .Name)}}

### Basic use of API method response

Basic use of API method response with only status code

{{ tffile (printf "examples/resources/%s/apigateway_method_basic_example.tf" .Name)}}

### Use of API method response with response parameters and response models

API method response using response models and response parameters

{{ tffile (printf "examples/resources/%s/apigateway_method_model_example.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
{{- if or .HasImport .HasImportIDConfig }}

## Import

Import is supported using the following syntax:
{{- end }}
{{- if .HasImportIDConfig }}

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
{{- if .HasImport }}

The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{codefile "shell" .ImportFile }}

{{- end }}