---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description | plainmarkdown | trimspace | prefixlines "  "}}
---

# {{.Name}} ({{.Type}})

{{.Description | trimspace}}

## Example Usage

### Standard Output
Create a Bedrock Data Automation project with standard output using the document modality.
{{ tffile (printf "examples/resources/%s/bedrock_data_automation_standard_output_project.tf" .Name)}}

### Custom Output
Create a Bedrock Data Automation project with custom output using the document modality.
{{ tffile (printf "examples/resources/%s/bedrock_data_automation_custom_output_project.tf" .Name)}}

{{.SchemaMarkdown | trimspace}}
{{- if .HasImport}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile}}

{{- end}}
