---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### First example
To create billing conductor with tags:
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule.tf" .Name)}}

### Third example
To create pricing rule with the scope is service:
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule_service.tf" .Name)}}

### Fourth example
To create billing conductor with the scope is tiering:
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule_tiering.tf" .Name)}}

### Fifth example
To create billing conductor with scope is billing entity:
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule_billing_entity.tf" .Name)}}

### Four example
To create billing conductor with the scope is SKU:
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule_sku.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}