---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Pricing rule with global scope
This example to create pricing rule using global scope
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule.tf" .Name)}}

### Pricing rule with service scope
This example create pricing rule using service scope
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule_service.tf" .Name)}}

### Pricing rule with with tier type
This example enable free-tier
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule_tiering.tf" .Name)}}

### Pricing rule with billing entity scope
This example create using billing entity scope to markup when marketplace is in use.
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule_billing_entity.tf" .Name)}}

### Pricing rule with SKU scope
This example provides using SKU as scope to provides discount billing item that uses t2.micro on Linux/Unix in Singapore region
{{ tffile (printf "examples/resources/%s/billingconductor_pricing_rule_sku.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
{{- if or .HasImport .HasImportIDConfig .HasImportIdentityConfig }}

## Import

Import is supported using the following syntax:
{{- end }}
{{- if .HasImportIdentityConfig }}

In Terraform v1.12.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `identity` attribute, for example:

{{tffile .ImportIdentityConfigFile }}

{{ .IdentitySchemaMarkdown | trimspace }}
{{- end }}
{{- if .HasImportIDConfig }}

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
{{- if .HasImport }}

The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{codefile "shell" .ImportFile }}

{{- end }}