---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage
Associates the specified attachment with the specified transit gateway route table. You can associate one route table with an attachment.
{{ tffile (printf "examples/resources/%s/ec2_transit_gateway_route_table_association.tf" .Name)}}


{{ .SchemaMarkdown | trimspace }}
{{- if or .HasImport .HasImportIDConfig }}

## Import

Import is supported using the following syntax:
{{- end }}
{{- if .HasImportIDConfig }}

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
{{- if .HasImport }}

The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{codefile "shell" .ImportFile }}

{{- end }}