---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### ECR Repository
To create ECR Repository with scan on push:

{{ tffile (printf "examples/resources/%s/ecr_repository.tf" .Name)}}

### ECR Repository
To create ECR Repository with lifecycle policy:
The following example shows the lifecycle policy syntax for a policy that expires untagged images older than 14 days:

{{ tffile (printf "examples/resources/%s/ecr_repository_lifecycle_policy.tf" .Name)}}

### ECR Repository
To create ECR Repository with repository policy:
The following repository policy denies all users in all accounts the ability to pull images:

{{ tffile (printf "examples/resources/%s/ecr_repository_repository_policy.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}