---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Create a connection with ApiKey authorization parameters

The following example creates a connection named pagerduty-connection using ApiKey authorization and stores a secret from Secrets Manager.

{{ tffile (printf "examples/resources/%s/connection_with_api_key_authorizer.tf" .Name)}}

### Create a connection with OAuth authorization parameters

The following example creates a connection named auth0-connection using OAuth authorization and stores a secret from Secrets Manager.

{{ tffile (printf "examples/resources/%s/connection_with_oauth_authorizer.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
{{- if or .HasImport .HasImportIDConfig }}

## Import

Import is supported using the following syntax:
{{- end }}
{{- if .HasImportIDConfig }}

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
{{- if .HasImport }}

The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{codefile "shell" .ImportFile }}

{{- end }}