---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### GameLift Build from file in existing S3 Bucket
**IMPORTANT:** The S3 permissions listed in the example are meant for testing purposes only. Restrict these permissions further for enhanced security. Currently the valid values for `operating_system` are `WINDOWS_2012`, `AMAZON_LINUX`, or `AMAZON_LINUX_2`.

To use {{.Name}} to create a GameLift build:
{{ tffile (printf "examples/resources/%s/gamelift_build.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
{{- if or .HasImport .HasImportIDConfig }}

## Import

Import is supported using the following syntax:
{{- end }}
{{- if .HasImportIDConfig }}

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
{{- if .HasImport }}

The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{codefile "shell" .ImportFile }}

{{- end }}
